
@use 'variables' as *;

.c-title {
    font-size: 3.8rem;
    font-family: map-get($font-families, 'fantasy');
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 3.8rem;
    color: rgb(31, 25, 25);
}

.c-subtitle {
    font-family: map-get($font-families, 'default');
    font-weight: 300;
    line-height: 5rem;
}
