
@use 'variables' as *;

.c-title {
    font-size: 2rem;
    font-weight: 500;
}

.c-subtitle {
    font-size: 24px;
    font-weight: 300;
}

.c-description {
    font-size: 20px;
}

.c-crystal-ball-image {
    width: 104px;
    cursor: pointer;
}

.c-modal-backdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000c2;
    width: 100vw;
    height: 100vh;
    transition: .5s;
}

.c-modal {
    max-width: $max-width-page;
    min-width: 480px;
    width: 90vw;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    transition: .2s;

    .title {
        font-weight: 500;
    }

    &--hide {
        top: -100%;
    }

    &__content {
        padding: 12px 32px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}

.c-button {
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 16px;
    background-color: darken(map-get($colors, 'crystal-ball'), 20);
    font-weight: 500;
    color: aliceblue;

    &:hover {
        background-color: darken(map-get($colors, 'crystal-ball'), 30);
    }

    &--danger {
        background-color: map-get($colors, 'danger');

        &:hover {
            background-color: darken(map-get($colors, 'danger'), 10);
        }
    }

    &--transparent {
        background: transparent;

        &:hover {
            background: transparent;
        }
    }

    &--rounded {
        border-radius: 4px;
    }

    &--icon {
        padding: 6px 8px;

        span {
            display: block;
            cursor: pointer;
        }
    }
}