
@use 'variables' as *;

.c-title {
    font-size: 2rem;
    font-weight: 500;
}

.c-subtitle {
    font-size: 24px;
    font-weight: 300;
}

.c-description {
    font-size: 20px;
}

.c-crystal-ball-image {
    width: 104px;
    cursor: pointer;
}

.c-modal-backdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000c2;
    width: 100vw;
    height: 100vh;
}

.c-modal {
    max-width: $max-width-page;
    min-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 4px;
    padding: 24px 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    transition: .5s;

    .title {
        font-weight: 500;
    }

    &--hide {
        top: -100%;
    }
}

.c-button {
    border: 1px solid #3333;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    background-color: darken(map-get($colors, 'crystal-ball'), 20);
    font-weight: 500;
    color: aliceblue;

    &:hover {
        background-color: darken(map-get($colors, 'crystal-ball'), 30);
    }

    &--danger {
        background-color: map-get($colors, 'danger');

        &:hover {
            background-color: darken(map-get($colors, 'danger'), 10);
        }
    }
}